<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=2000;" />
    <add key="Domain" value="169.254.203.144" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="EndSessionHandler" path="EndSessionHandler.ashx" verb="*" type="EndSessionHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="Conn2" connectionString="Data Source=KSPL-DEV;Initial Catalog=GAGETRAK68_GNA_WORKING-01;Persist Security Info=True;User ID=gagemgr65;Password=Passw0rd" providerName="System.Data.SqlClient" />
    <add name="Conn" connectionString="Data Source=NIKK\SQLEXPRESS;Initial Catalog=GAGETRAK68_PALOMA;Persist Security Info=True;User ID=gagemgr65;Password=Passw0rd" providerName="System.Data.SqlClient" />
    <add name="Conn1" connectionString="Data Source=KSPL-24\KSPL24DEV;Initial Catalog=GAGETRAK68_TW_29092026;Persist Security Info=True;User ID=gagemgr65;Password=Passw0rd" providerName="System.Data.SqlClient" />
    <!--  <add name="Conn0" connectionString="Data Source=KSPL-DEV;Initial Catalog=GAGETRAK68_DEMO_DB_021224;Persist Security Info=True;User ID=gagemgr65;Password=Passw0rd" providerName="System.Data.SqlClient" />
  -->
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="12288" />
    <sessionState mode="InProc" timeout="10" />
    <customErrors mode="RemoteOnly" defaultRedirect="Default.aspx" />
    <pages enableViewState="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--
  For more information on how to configure your ASP.NET application, please visit
  -https://go.microsoft.com/fwlink/?LinkId=169433
   GAGEtrak Dashboard - Version 3.0 
   Developed By Adwait Hatkar
   Date of start to work: 23-06-2025
   Date of Last to work: 30-06-2025
   Duration: Nov-2024 & June-2025
   
  -->
<!--ProjectGuid: 567D331B-8121-4F97-9FDA-173280519E59-->